 *{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
} 

/* background sizing, color */
.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #efeffd;
    position: relative;  
}
/* background color for skills  */
 .skills, .contact-me {    
    background: #efeffd;
}

/* used to align my links on top od web page, they are not liked to anything at this time and names may change */
nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 100px;
    cursor: pointer;
}

/* lines up the links on top */
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

/* place Home at the beginning of the links on top */
nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

 /* gives links on top a red color when hovering over */
nav ul li a:hover{
    color: red;
}

/* .detel{
    margin-left: 8%;
    margin-top: 15%;
}   */

/* sizes, colors header introduction */
.detel h2 {
    font-size: 50px;
    color: #050000;
    margin-bottom: 50px;
} 

span{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 0, 0);
    
}
/* 
sizing and coloring for introduction message */
.detel p{
    color: rgb(17, 1, 1);
    line-height: 22px;
}

/* sizing for images */
.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

/* sizing for images */
.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

/* vs code logo sizing */
/* .vs-logo {
    width: 15%;
    padding-right: 1%;
} */

/* html5 logo sizing */
.html5-logo {
    width: 10%;
    padding-right: 1%;
}

/* css3 logo sizing */
.css3-logo {
    width: 8%;
    padding-right: 1%;
    
}

/* github logo sizing */
.git-logo {
    width: -3%;
    padding-left: 0%;
}

/* git lab logo sizing */
.lab-logo {
    width: 10%;
    padding-left: 2%;
}

/* Primary Children's Hospital logo sizing */
.primary-logo {
    width: -50%;
    padding-right: -10%;
}

/* 3M logo sizing */
.codefinder-logo {
    width: 30%;
    padding-right: 16%;
}

/* css3 logo sizing */
.southogden-logo {
    width: 8%;
    padding-right: 1%;
    
}

/* coloring for subtitle */
.profile h2 {
    color: red;    
}

/* coloring for contact me */
.contact-me h2 {
    color: red;    
}



/* commented out until I complete these parts of the course.
.js-logo {
    width: 10%;
    padding-left: 2%;
}
.bootstrap-logo {
    width: 15%;
    padding-left: 4%;
} */
 